<h1>List of Users</h1>

<p>Admin users only</p>

<!--Need to figure out how to display user stats, Will not link_to user who is not signed in-->

<table>
		<tr>
			<th>Name</th>
			<th># of Total Uses</th>
			<th>Meal Most Used</th>
		</tr>
<% @users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
		<td>
	</tr>

	
	
<% end %>
</table>

<br>
<br>
<%= link_to "Your User Page", user_path(@user) %>